In [14]:
import pandas as pd

# Step 1: Import the CSV file into a Pandas DataFrame
file_path = './schools.csv'  # Replace with the actual path to your CSV file
df = pd.read_csv(file_path)

In [3]:
# Step 2: Display the structure of the DataFrame
print("DataFrame Info:")
print(df.info())

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 42 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Code                       319 non-null    int64
 1   School Name                319 non-null    object
 2   Street                     319 non-null    object
 3   Suburb                     319 non-null    object
 4   State                      319 non-null    object
 5   Postcode                   319 non-null    int64
 6   Postal Street              319 non-null    object
 7   Postal Suburb              319 non-null    object
 8   Postal State               319 non-null    object
 9   Postal Postcode            319 non-null    int64
 10  Latitude                   319 non-null    float64
 11  Longitude                  319 non-null    float64
 12  Phone                      319 non-null    object
 13  Education Region           319 non-null    object
 14  Broad Classification       319 non-null    object
 15  Classification Group       319 non-null    object
 16  Low Year                   319 non-null    object
 17  High Year                  319 non-null    object
 18  KIN                        161 non-null    float64
 19  PPR                        163 non-null    float64
 20  Y01                        163 non-null    float64
 21  Y02                        163 non-null    float64
 22  Y03                        166 non-null    float64
 23  Y04                        167 non-null    float64
 24  Y05                        167 non-null    float64
 25  Y06                        167 non-null    float64
 26  UPR                        1 non-null      float64
 27  Y07                        297 non-null    float64
 28  Y08                        299 non-null    float64
 29  Y09                        301 non-null    float64
 30  Y10                        311 non-null    float64
 31  Y11                        266 non-null    float64
 32  Y12                        259 non-null    float64
 33  USE                        2 non-null      float64
 34  Total Students             319 non-null    int64
 35  BE Score                   272 non-null    object
 36  ICSEA                      262 non-null    float64
 37  ATAR Rank                  139 non-null    float64
 38  Median ATAR                139 non-null    float64
 39  Eligible Year 12 students  139 non-null    float64
 40  Students with ATAR         139 non-null    float64
 41  % students with ATAR       139 non-null    float64
dtypes: float64(24), int64(4), object(14)
memory usage: 104.8+ KB
None

In [4]:
# Step 3: Display the first few rows of the DataFrame
print("\nFirst few rows:")
df.head()

First few rows:

,Code,School Name,Street,Suburb,State,Postcode,Postal Street,Postal Suburb,Postal State,Postal Postcode,...,Y12,USE,Total Students,BE Score,ICSEA,ATAR Rank,Median ATAR,Eligible Year 12 students,Students with ATAR,% students with ATAR
0,4001,ALBANY SENIOR HIGH SCHOOL,1 CAMPBELL ROAD,ALBANY,WA,6330,1 CAMPBELL ROAD,ALBANY,WA,6330,...,124.0,NaN,977,88,1010.0,101.0,72.80,123.0,53.0,43.09
1,1488,ALKIMOS BAPTIST COLLEGE,60 SEAGROVE BOULEVARD,MERRIWA,WA,6030,60 SEAGROVE BOULEVARD,MERRIWA,WA,6030,...,14.0,NaN,300,85,1035.0,NaN,NaN,NaN,NaN,NaN
2,1277,ALL SAINTS' COLLEGE,28 EWING AVENUE,BULL CREEK,WA,6149,28 EWING AVENUE,BULL CREEK,WA,6149,...,146.0,NaN,1354,99,1154.0,21.0,86.35,146.0,120.0,82.19
3,1478,ALTA-1,12 WINTON ROAD,JOONDALUP,WA,6027,PO BOX 301,JOONDALUP DC,WA,6919,...,57.0,NaN,1039,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4002,APPLECROSS SENIOR HIGH SCHOOL,LINKS ROAD,ARDROSS,WA,6153,LINKS ROAD,ARDROSS,WA,6153,...,236.0,NaN,1665,98,1111.0,34.0,84.30,234.0,145.0,61.97

In [5]:
df.columns

Index(['Code', 'School Name', 'Street', 'Suburb', 'State', 'Postcode',
       'Postal Street', 'Postal Suburb', 'Postal State', 'Postal Postcode',
       'Latitude', 'Longitude', 'Phone', 'Education Region',
       'Broad Classification', 'Classification Group', 'Low Year', 'High Year',
       'KIN', 'PPR', 'Y01', 'Y02', 'Y03', 'Y04', 'Y05', 'Y06', 'UPR', 'Y07',
       'Y08', 'Y09', 'Y10', 'Y11', 'Y12', 'USE', 'Total Students', 'BE Score',
       'ICSEA', 'ATAR Rank', 'Median ATAR', 'Eligible Year 12 students',
       'Students with ATAR', '% students with ATAR'],
      dtype='object')

In [6]:
df2 = df[['School Name', 'Street', 'Suburb', 'State', 'Postcode',
    'Postal Street', 'Postal Suburb', 'Postal State', 'Postal Postcode',
    'Latitude', 'Longitude', 'Phone', 'Education Region',
    'Broad Classification', 'Classification Group', 'Low Year', 'High Year', 'Total Students', 'BE Score',
    'ICSEA', 'ATAR Rank', 'Median ATAR','% students with ATAR']].copy()

In [7]:
df2.head()

,School Name,Street,Suburb,State,Postcode,Postal Street,Postal Suburb,Postal State,Postal Postcode,Latitude,...,Broad Classification,Classification Group,Low Year,High Year,Total Students,BE Score,ICSEA,ATAR Rank,Median ATAR,% students with ATAR
0,ALBANY SENIOR HIGH SCHOOL,1 CAMPBELL ROAD,ALBANY,WA,6330,1 CAMPBELL ROAD,ALBANY,WA,6330,-35.020448,...,Senior High Schools,SECONDARY SCHOOLS,Y07,Y12,977,88,1010.0,101.0,72.80,43.09
1,ALKIMOS BAPTIST COLLEGE,60 SEAGROVE BOULEVARD,MERRIWA,WA,6030,60 SEAGROVE BOULEVARD,MERRIWA,WA,6030,-31.660328,...,NON-GOVT SCHOOLS,NON-GOVERNMENT,KIN,Y12,300,85,1035.0,NaN,NaN,NaN
2,ALL SAINTS' COLLEGE,28 EWING AVENUE,BULL CREEK,WA,6149,28 EWING AVENUE,BULL CREEK,WA,6149,-32.049470,...,NON-GOVT SCHOOLS,NON-GOVERNMENT,KIN,Y12,1354,99,1154.0,21.0,86.35,82.19
3,ALTA-1,12 WINTON ROAD,JOONDALUP,WA,6027,PO BOX 301,JOONDALUP DC,WA,6919,-31.785372,...,NON-GOVT SCHOOLS,NON-GOVERNMENT,Y08,Y12,1039,NaN,NaN,NaN,NaN,NaN
4,APPLECROSS SENIOR HIGH SCHOOL,LINKS ROAD,ARDROSS,WA,6153,LINKS ROAD,ARDROSS,WA,6153,-32.029376,...,Senior High Schools,SECONDARY SCHOOLS,Y07,Y12,1665,98,1111.0,34.0,84.30,61.97

In [8]:
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

In [9]:
df2.to_sql(name='schools', con=engine)

319

In [10]:
import sqlite3

conn = sqlite3.connect('schools.db')
c = conn.cursor()

df.to_sql(name='school_info', con=conn, if_exists='append', index=False)

conn.commit()

In [13]:
import pandas as pd

class SchoolData():
    def __init__(self):
        self.file_path = '/schools.csv'
        self.df = pd.read_csv(self.file_path)

    def get_schools_from_csv(self):

        df2 = self.df[['School Name', 'Street', 'Suburb', 'State', 'Postcode',
            'Postal Street', 'Postal Suburb', 'Postal State', 'Postal Postcode',
            'Latitude', 'Longitude', 'Phone', 'Education Region',
            'Broad Classification', 'Classification Group', 'Low Year', 'High Year', 'Total Students', 'BE Score',
            'ICSEA', 'ATAR Rank', 'Median ATAR','% students with ATAR']].copy()
        
        return df2

In [12]:
from django.shortcuts import render
from django.shortcuts import render
import pandas as pd
from data import SchoolData

school_data = SchoolData()
all_schools = school_data.get_schools_from_csv()
print(all_schools)

FileNotFoundError: [Errno 2] No such file or directory: '/schools.csv'